@import "./font.css";

/* // chat input  */

.chat_container{
    position: fixed;
    bottom: 10px;
    left: 0;
    z-index: 10;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.chat{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background-color: black;
    border-radius: 50px;
    box-shadow: 0px 0px 6px 2px gray;
   padding: 6px;
}
.chat i{
    color: whitesmoke;
    font-size: 1.5rem;
    padding: 0.4rem;
}

.chat_active{
    background-color: rgba(255, 255, 255, 0.171);
    border-radius: 50%;
}


#chatInput{
    width: 100%;
    font-size: 1rem;
    color: rgba(245, 245, 245, 0.911);
    font-family: var(--scripttext);
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0px 5px;
}

/* // chat day */


.chat_day{
    position: absolute;
    height: 15px;
    width: 60px;
    background-color: var(--precolor);
    box-shadow: inset 0px 0px 7px 0px gray;
    top: 5px;
    left: 40%;
    border-radius: 50px;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 0.4rem;
    font-family: var(--scripttext);
    
}

/* // my text chat  */

.chat_box{
    display: flex;
    flex-direction: column;
    height: 88%;
    padding: 0rem 1rem;
    overflow-y: scroll;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.chat_line{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.my_textchat .text{
    padding: 0.4rem 0.7rem;
    font-size: 1rem;
    font-family: var(--scripttext);
    color: rgba(0, 0, 0, 0.89);
    background-color: rgb(206, 208, 209);
    width: fit-content;
    border-radius: 10px;
}
.my_textchat .time{
    font-family: var(--scripttext);
    margin: 3px 5px;
    color: gray;
}

/* // other text chat  */


.my{
    text-align: right;
    justify-content: flex-end;
}

.other .my_textchat .text{
    background-color: rgba(138, 138, 247, 0.959);
    justify-content: flex-start;
}

.header_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.profile_img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid var(--hoverColor);
    background-position: center;
    background-size: cover;
}
.profile{
    display: flex;
    flex-direction: column;
}
.profile_name{
    font-size: 1rem;
    font-family: var(--scripttext);
    color: whitesmoke;
    margin-left: 5px;
}

.instance{
    height: 85vh;
}

.back{
    color: whitesmoke;
    font-size: 2rem;
}
.status{
    font-family: var(--scripttext);
    font-size: 0.8rem;
    color: rgb(158, 157, 157);
    margin-left: 5px;
}