<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praja</title>
    <!-- boxicons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
    <header>
        <div class="header_left"><h2>Praja</h2></div>
        <div class="header_right">
            <i class='bx bx-bell'></i>
            <i class='bx bx-message-square-dots'></i>
        </div>
    </header>

    <!-- post and quads sections -->
    <div class="post_quad">
        <!-- // quads section  -->

        <!-- // show post section  -->
        <div class="instance">
            <div class="chat_box"></div>
            <div class="thumb"></div>
        </div>
    </div>

    <!-- // taskbar -->
    <div class="chat_container">
    <div class="chat">
        <i class='bx bx-link chat_active'></i>
        <input type="text" name="" id="chatInput">
        <i class='bx bx-send'></i>
    </div>
    </div>
</body>
</html>