<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praja</title>
    <!-- boxicons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
    <header>
        <div class="header_left">
           <i class='bx bx-chevron-left back'></i>
           <div class="profile_img" style="background-image: url('/images/myimage1.jpg');"></div>
           <div class="profile">
            <p class="profile_name">
                @yagyadeepAhirear
            </p>
            <p class="status">online</p>
        </div>
        </div>
        <div class="header_right">
            <i class='bx bx-bell'></i>
            <i class='bx bx-message-square-dots'></i>
        </div>
    </header>

    <!-- post and quads sections -->
    <div class="post_quad">
        <!-- // quads section  -->

        <!-- // show post section  -->
        <div class="instance">
            <div class="chat_box">

                <!-- // my text chat  -->
                <div class="chat_line my">
                <div class="my_textchat">
                    <p class="text">Hello cp </p>
                    <p class="time">12:04 AM</p>
                </div>
                </div>
                
                <div class="chat_line other">
                <div class="my_textchat">
                    <p class="text">ha yagya </p>
                    <p class="time">12:04 AM</p>
                </div>
                </div>

                <div class="chat_line other">
                    <div class="my_textchat">
                        <p class="text">ha yagya </p>
                        <p class="time">12:04 AM</p>
                    </div>
                    </div>

                    <div class="chat_line other">
                        <div class="my_textchat">
                            <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam porro tempore quam aliquam, explicabo ab, corporis qui facilis sit voluptatum nam aspernatur sequi. Fugit eaque sapiente inventore adipisci magnam nihil dignissimos mollitia facere. Repellendus accusantium dolorum, dignissimos officiis, molestias, nisi impedit quis sint natus rem ab eum obcaecati quae laborum?</p>
                            <p class="time">12:04 AM</p>
                        </div>
                        </div>

                        <div class="chat_line other">
                            <div class="my_textchat">
                                <p class="text">ha yagya </p>
                                <p class="time">12:04 AM</p>
                            </div>
                            </div>

                               <div class="chat_line other">
                        <div class="my_textchat">
                            <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam porro tempore quam aliquam, explicabo ab, corporis qui facilis sit voluptatum nam aspernatur sequi. Fugit eaque sapiente inventore adipisci magnam nihil dignissimos mollitia facere. Repellendus accusantium dolorum, dignissimos officiis, molestias, nisi impedit quis sint natus rem ab eum obcaecati quae laborum?</p>
                            <p class="time">12:04 AM</p>
                        </div>
                        </div>
            </div>
            <!-- <div class="thumb"></div> -->
            <div class="chat_day">Today</div>
        </div>
    </div>

    <!-- // chatbar -->
    <div class="chat_container">
    <div class="chat">
        <i class='bx bx-link chat_active'></i>
        <input type="text" name="" id="chatInput" placeholder="Type message...">
        <i class='bx bx-send'></i>
    </div>
    </div>
</body>
</html>