<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praja</title>
    <!-- boxicons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="header_left"><h2>Praja</h2></div>
        <div class="header_right">
            <i class='bx bx-bell'></i>
            <i class='bx bx-message-square-dots'></i>
        </div>
    </header>

    <!-- post and quads sections -->
    <div class="post_quad">
        <!-- // quads section  -->
        <div class="quad">
            <p class="quad_text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero aut nihil soluta eius eum at corporis,
            </p>
            <img src="" alt="" class="static_image">
        </div>

        <!-- // show post section  -->
        <div class="instance">
            <div class="tabs">
                <p class="tab">Foryou</p>
                <p class="tab">India@47</p>
            </div>
            <div class="post">
            <div class="post_card">
                <div class="post_detail">
                    <div class="post_detail_left">
                        <img src="" alt="">
                        <div class="user_detail">
                            <h3 class="username">yagyadeep</h3>
                            <p>12:56 AM</p>
                        </div>
                    </div>
                    <div class="post_detail_right">
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </div>
                </div>
                <div class="post_data">

                </div>
                <div class="fun">
                    <div class="fun_left">
                        <i class='bx bxs-objects-vertical-bottom'></i>
                        <i class='bx bx-message-square-dots'></i>
                        <i class='bx bx-share-alt' ></i>
                    </div>
                    <div class="fun_right">
                        <i class='bx bx-bookmark-plus'></i>
                    </div>
                </div>
            </div>

            <div class="post_card">
                <div class="post_detail">
                    <div class="post_detail_left">
                        <img src="" alt="">
                        <div class="user_detail">
                            <h3 class="username">yagyadeep</h3>
                            <p>12:56 AM</p>
                        </div>
                    </div>
                    <div class="post_detail_right">
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </div>
                </div>
                <div class="post_data">

                </div>
                <div class="fun">
                    <div class="fun_left">
                        <i class='bx bxs-objects-vertical-bottom'></i>
                        <i class='bx bx-message-square-dots'></i>
                        <i class='bx bx-share-alt' ></i>
                    </div>
                    <div class="fun_right">
                        <i class='bx bx-bookmark-plus'></i>
                    </div>
                </div>
            </div>

            <div class="post_card">
                <div class="post_detail">
                    <div class="post_detail_left">
                        <img src="" alt="">
                        <div class="user_detail">
                            <h3 class="username">yagyadeep</h3>
                            <p>12:56 AM</p>
                        </div>
                    </div>
                    <div class="post_detail_right">
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </div>
                </div>
                <div class="post_data">

                </div>
                <div class="fun">
                    <div class="fun_left">
                        <i class='bx bxs-objects-vertical-bottom'></i>
                        <i class='bx bx-message-square-dots'></i>
                        <i class='bx bx-share-alt' ></i>
                    </div>
                    <div class="fun_right">
                        <i class='bx bx-bookmark-plus'></i>
                    </div>
                </div>
            </div>

            <div class="post_card">
                <div class="post_detail">
                    <div class="post_detail_left">
                        <img src="" alt="">
                        <div class="user_detail">
                            <h3 class="username">yagyadeep</h3>
                            <p>12:56 AM</p>
                        </div>
                    </div>
                    <div class="post_detail_right">
                        <i class='bx bx-dots-horizontal-rounded'></i>
                    </div>
                </div>
                <div class="post_data">

                </div>
                <div class="fun">
                    <div class="fun_left">
                        <i class='bx bxs-objects-vertical-bottom'></i>
                        <i class='bx bx-message-square-dots'></i>
                        <i class='bx bx-share-alt' ></i>
                    </div>
                    <div class="fun_right">
                        <i class='bx bx-bookmark-plus'></i>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <!-- // taskbar -->
    <div class="taskbar_container">
    <div class="taskbar">
        <i class='bx bx-home-alt'></i>
        <i class='bx bx-search'></i>
        <i class='bx bx-plus-circle'></i>
        <i class='bx bx-video'></i>
        <i class='bx bx-user'></i>
    </div>
    </div>
</body>
</html>