<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Praja</title>
    <!-- boxicons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="./css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/message.css">
</head>
<body>
    <header>
        <div class="header_left">
           <i class='bx bx-chevron-left back'></i>
           <h2>Praja</h2></div>
        <div class="header_right">
            <i class='bx bx-bell'></i>
            <i class='bx bx-message-square-dots'></i>
        </div>
    </header>

    <!-- post and quads sections -->

        <!-- // show post section  -->
        <div class="instance">
            <div class="tabs">
                <p class="tab tab_active">Connectins</p>
                <p class="tab">Comunity</p>
            </div>
            <div class="connections">
              <div class="user">
                  <div class="user_left">
                    <div class="profile_img" style="background-image: url('/images/myimage1.jpg');"></div>
                    <div class="profile">
                     <p class="profile_name">
                         @yagyadeepAhirear
                     </p>
                     <p class="status">online</p>
                 </div>
                  </div>
                 <div class="user_right">
                   23
                 </div>
              </div>
              <div class="user">
                <div class="user_left">
                  <div class="profile_img" style="background-image: url('/images/myimage1.jpg');"></div>
                  <div class="profile">
                   <p class="profile_name">
                       @yagyadeepAhirear
                   </p>
                   <p class="status">online</p>
               </div>
                </div>
               <div class="user_right">
                 23
               </div>
            </div>
            <div class="user">
                <div class="user_left">
                  <div class="profile_img" style="background-image: url('/images/myimage1.jpg');"></div>
                  <div class="profile">
                   <p class="profile_name">
                       @yagyadeepAhirear
                   </p>
                   <p class="status">online</p>
               </div>
                </div>
               <div class="user_right">
                 23
               </div>
            </div>
            </div>
        </div>
    </div>

    <!-- // taskbar -->
    <div class="taskbar_container">
    <div class="taskbar">
        <i class='bx bx-home-alt taskbar_active'></i>
        <i class='bx bx-search'></i>
        <i class='bx bx-plus-circle'></i>
        <i class='bx bx-video'></i>
        <i class='bx bx-user'></i>
    </div>
    </div>
</body>
</html>